@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

#hangry {
    font-size: 300%;
    text-align: center;
    color: #DE0001;
    font-family: 'Modak', cursive;
}

#business,
#distance{
    float: left;
    font-size: 150%;
}

#displayPhone {
    font-size: 150%;
}

#title-div{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    position: relative;
    padding: 10px;
    margin: 0px 10px;
}
/* 
#distance{
    position: absolute;
    left: 47%;
} */

#business-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    height: 350px;
}

#next-button,
#favorite-button {
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

#favorite-button {
    background-color: #DE0001;

}


#next-button {
    background-color: #FEDA15;
   
}
.hide{
    display: none;
}

.see{
    display: block;
}

#button-div {
    display: flex;
    justify-content: center;
}


.rotate {
    text-align: center;
    font-size: 100px;
  animation: rotation 1.5s infinite linear;
  position: fixed;
  top: 25%;
  left: 46%;
  right: auto;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}