<container id="favorite-container" class="container flex justify-between cursor-pointer hover:bg-red-100 p-2 m-2 border-red-500 border-4 rounded-2xl">
    <div class="flex justify-start flex-row">
        <img id="business-image" class="w-36 h-36 m-4 rounded-2xl business-image"></img>

        <div id="text-box" class="flex-col m-4 font-sans text-box self-center justify-center">
            <h1 id="business" class="font-bold text-lg business">Restaurant Name</h1>
            <div id="displayPhone" class="text-red-500">Phone</div>

        </div>
    </div>
    <div id="rating" class="text-red-500 m-4 self-center mr-8 text-left">Rating</div>

</container>