<container id="favorite-container" class="container flex justify-start px-4 w-200px m-10 border-red-500 border-4 rounded-2xl">

    <img id="business-image" class="w-36 h-36 m-4 rounded-2xl business-image"></img>
    <div id="text-box" class="flex-col m-4 font-sans text-box">
        <h1 id="business" class="font-bold text-lg business">Restaurant Name</h1>
        <div id="displayPhone" class="text-red-500">Phone</div>
    </div>
    <div id="rating" class="text-red-500 m-4">Rating</div>

</container>