<nav id="nav" class="bg-yellow-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <img class="h12 w-12" src="images/hamburgerLogo.png" alt="hamburger">
                </div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="./index.html" class="bg-red-600 text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                        <a href="./restaurants.html" class="text-gray-900 hover:bg-red-600 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Restaurants</a>
                        <a href="./favorites.html" class="text-gray-900 hover:bg-red-600 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Favorites</a>
                        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
                        </head>
                    </div>
                </div>
            </div>
            <h1 id="hangry">Hangry</h1>
        </div>
    </div>
</nav>